/* Global styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

/* Styles for main page */
.phone-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.phone-box {
    width: 45%;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.phone-box h2 {
    margin-bottom: 10px;
}

.phone-box p {
    margin-bottom: 5px;
}

.phone-box button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.phone-box button:hover {
    background-color: #0056b3;
}

/* Styles for checkout page */
.cart-items {
    text-align: left;
}

.phone-item {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.phone-item h2 {
    margin-bottom: 10px;
}

.phone-item p {
    margin-bottom: 5px;
}
